{% extends "base.html" %}

{% block content %}

<div class="mapbox">
   <p> <div id="map" style="height: 600px; width: 1200px;"></div></p>
</div>


<script>
    var map = L.map('map');

    // Use the Geolocation API to get the user's current location
    map.locate({ setView: true, maxZoom: 16 });

    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        L.marker(e.latlng).addTo(map)
            .bindPopup("You are here").openPopup();

        L.circle(e.latlng, radius).addTo(map);

        var treasuresData = JSON.parse('{{ treasures_data_json|escapejs }}') || [];
 
        console.log(treasuresData)   

        // Loop through the treasures' data and add markers to the map
        for (var i = 0; i < treasuresData.length; i++) {
            var treasure = treasuresData[i];
            L.marker([treasure.latitude, treasure.longitude]).addTo(map)
                .bindPopup(
                    '<h3>' + treasure.name + '</h3>' +
                    '<p>' + treasure.description + '</p>' +
                    '<p>Hints: ' + treasure.hints + '</p>'
                );
        }
    }

    function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18
    }).addTo(map);
    
</script>

{% endblock %}
